.groupItem {
  width: 45%;
}

.groupTable {
  width: 100%;

  color: #6a6a6a;

  background-color: #ffffff;

  td,
  th {
    min-width: 40px;
    padding: 5px 10px;

    text-align: center;

    border: 2px solid #f4f4f4;
  }

  tr td:first-child,
  tr th:first-child {
    width: 100%;

    text-align: left;
  }
}
