.container {
  width: 1000px;
  height: 600px;
  margin: 20px;

  .uploaderWrapper {
    // min-height: 65px;
  }

  .checkboxWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .tableContainer {
    height: 73%;
    overflow-y: auto;
  }

  .checkBoxWrapper,
  .selectWrapper {
    & > div {
      display: block;
    }
  }
  .checkBoxWrapper {
    width: 25px;
  }

  .btnsWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    & > * {
      margin-left: 10px;
    }
  }

  table th,
  table td {
    width: 20%;
    padding: 5px;
  }
}
