.cardContainer {
  position: relative;

  width: 180px;
  height: 24px;
  padding: 3px 0 3px 30px;
  margin: 0 0 4px;

  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;

  border-radius: 2px;

  background-color: red !important;

  overflow: hidden;

  &::before {
    position: absolute;
    top: 4px;
    left: 8px;

    content: '';
    height: 14px;
    width: 14px;

    border-radius: 50%;

    background-color: #cdcfd2;
  }
}

.dragContainer {
  background: #4a4a4a;
  color: #ededed;
  font-size: 15px;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline-block;
  margin: 5px 5px 0 0px;
}
