.cardContainer {
  position: relative;

  display: flex;
  align-items: center;

  width: 180px;
  height: 24px;
  padding: 0 0 0 30px;
  margin: 0 0 4px;

  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 17px;
  color: #6a6a6a;

  border-radius: 2px;

  background-color: #ffffff !important;

  overflow: hidden;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

  &Error {
    border: 1px solid #ff0f19;
  }

  &::before {
    position: absolute;
    top: 4px;
    left: 8px;

    content: '';
    height: 14px;
    width: 14px;

    border-radius: 50%;

    background-color: #cdcfd2;
  }
}

.cardNameWrapper {
  flex-grow: 1;

  overflow: hidden;
}

.cardOptionsWrapper {
  width: 32px;

  border-left: 1ps solid #f4f4f4;
}

.dragContainer {
  background: #4a4a4a;
  color: #ededed;
  font-size: 15px;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline-block;
  margin: 5px 5px 0 0px;
}
