.libraryList {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    border-top: 1px solid #d1d1d1;

    margin-bottom: 5px;
    padding-bottom: 7px;
  }
}
.mainMenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.heading {
  margin: 24px 0;
}
.sectionContainer {
  width: 100%;
  min-width: 905px;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .sectionFirstRow {
    display: flex;
    justify-content: space-between;
  }
  .sectionSecondRow {
    display: flex;
    justify-content: space-between;
  }
  .sectionItem {
    flex-grow: 0;
    width: 20%;
    color: #6a6a6a;
    margin-bottom: 32px;
  }
  .sectionLabel {
    font-size: 16px;
    font-weight: 600;
    color: #6a6a6a;
    margin-bottom: 7px;
    white-space: nowrap;
  }
  .divisionLink {
    color: #11a8ea;
    text-decoration: none;
  }
}
