:local(.btnWrapper) {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  padding: 12px 24px;
  margin-bottom: 25px;

  background-color: #f4f4f4;

  border-radius: 5px;

  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

:local(.libraryList) {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    border-top: 1px solid #d1d1d1;

    margin-bottom: 5px;
    padding-bottom: 7px;
  }
}
.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.heading {
  margin: 24px 0;
}
.tournament-content {
  display: flex;
  flex-wrap: wrap;
  .tournament-content-item {
    flex-grow: 0;
    width: 20%;
    color: #6a6a6a;
    margin-bottom: 32px;
    margin-right: 26px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .tournament-content-title {
    font-family: 'Open Sans SemiBold';
  }
}
.break {
  flex-basis: 100%;
  height: 0;
}
