.section {
  padding: 24px 15px;

  background-color: #f4f4f4;

  border-radius: 5px;

  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.scheduleTableWrapper {
  display: flex;
  position: relative;

  .topBtnsWrapper {
    position: absolute;
    width: 200px;
    height: 40px;
    top: -15px;
  }
}

.tableWrapper {
  flex-grow: 1;
}

.btnsWrapper {
  display: flex;
  justify-content: flex-end;
}
