.tableWrapper {
  width: 100%;
  padding: 16px 12px;

  background-color: #f7f7f7;

  border-radius: 5px;

  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.actionBtn {
  font: inherit;
  color: #00a3ea;

  background-color: transparent;

  border: 0;

  cursor: pointer;
}
