:local(.page) {
  flex: 1 1 auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 15px 10% 0;

  overflow: auto;

  scroll-behavior: smooth;
}

:local(.content) {
  flex-grow: 1;

  padding-left: 30px;
}
