:local(.page) {
  // flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 15px 10% 0;

  overflow: auto;

  scroll-behavior: smooth;
}

:local(.content) {
  flex-grow: 1;

  padding-left: 30px;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
// .footer {
//   flex-shrink: 0;
// }
