.table {
  color: #f0f0f0;

  .fieldTh {
    background: #d5d5d5;
    color: #363636;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 14px;
    min-width: 100px;
    border: 1px solid #b4b4b4;
  }

  .timeSlotRow {
    th {
      background: #d5d5d5;
      padding: 10px;
      min-width: 50px;
      border-radius: 2px;
      font-size: 14px;
      color: #414141;
      border: 1px solid #b4b4b4;
    }
    td {
      padding: 10px;
      background: #e7e7e7;
      border: 1px solid rgb(29, 29, 29);
      font-size: 14px;
      color: #d8d7d7;
      min-width: 100px;
      height: 63px;
    }
  }

  .gameSlot {
    display: flex;
    flex-direction: column;
  }
}
