:local(.ColorPickerWrapper) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.ColorPickerBtn) {
  height: 36px;
  width: 36px;

  border-radius: 8px;

  border: 0;
}

:local(.ColorPicker) {
  margin-top: 10px;

  & div:nth-child(1) {
    border-color: transparent!important;
  }

  & div:nth-child(2) {
    transform: translate(-50%, 0);
    left: 50%;
  }
}