:local(.ColorPickerWrapper) {
  display: flex;
}

:local(.ColorPickerBtn) {
  height: 36px;
  width: 36px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

:local(.ColorPicker) {
  input {
    padding-left: 7px;
    height: 22px;
  }
}
