*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;

  box-shadow: 0 0 0 2px #a6c7ff;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-rendering: optimizeSpeed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

img {
  display: block;

  max-width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
button,
textarea,
select {
  margin: 0;

  font: inherit;
  font-size: 100%
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

#root {
  height: 100vh;
  background-color: #ececec;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}