.flexcontainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.btnsWrapper {
  margin-left: 8px;
}

.selectContainer {
  width: 100%;
  display: flex;
}

.selectWrapper {
  width: 50%;
}