:local(.dashboardMenu) {
  padding: 32px 23px;

  background-color: #073B65;
  background-image: linear-gradient(169.56deg, #073B65 0%, #0079AE 100%);

  border-radius: 5px;

  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
}

:local(.list) {
  margin: 0;
  padding: 0;

  list-style: none;
}

:local(.itemTitle) {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #FFFFFF;


  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  svg {
    display: block;

    height: 23px;

    margin-right: 15px;

    fill: #FFFFFF;
  }
}
