.container {
  padding: 24px 15px;
  margin: 0 0 50px;
  background-color: #f4f4f4;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 500px;
  display: flex;

  .leftColumn {
    background-color: #dadada;
    width: 277px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    border-radius: 3px;
    position: relative;
  }

  .rightColumn {
    background-color: #dadada;
    width: 100%;
    height: 450px;
    margin-left: 20px;

    .filterWrapper {
      display: flex;
      justify-content: space-between;
      height: 80px;
      background: #f4f4f4;

      > p {
        width: calc(100% - 800px);
        height: 40px;
        margin-top: 26px;
      }

      .selectWrapper {
        width: 190px;
        margin: 0;
        padding: 0;
        border: 0;

        .selectTitle {
          color: #6a6a6a;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
        }
      }

      .moveBrackets {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 70px;
        margin-top: 3px;

        > p {
          white-space: nowrap;
        }

        .moveBracketsBtns {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 152px;

          > button {
            color: #858585;
            font-weight: 600;
          }
        }
      }

      .dndToggleWrapper {
        height: 50px;
        margin-top: 20px;
        color: gray;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 340px;
      }
    }

    section {
      height: 370px;
    }
  }
}
