.container {
  padding: 24px 15px;
  margin: 0 0 50px;
  background-color: #f4f4f4;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 500px;
  display: flex;

  .leftColumn {
    background-color: #dadada;
    width: 277px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    border-radius: 3px;
    position: relative;

    .gamesTitle {
      position: sticky;
      top: -10px;
      left: 0;
      width: 199px;
      background: #dadada;
      height: 30px;
      font-size: 14px;
      color: #646664;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0px 12px 0;
      // text-transform: uppercase;
      box-shadow: 0px 10px 7px -9px #00000059;
      z-index: 100;
    }

    .separationLine {
      display: flex;
      background: #dadada;
      font-size: 13px;
      color: #646664;
      align-items: center;
      justify-content: center;
      margin: 5px 0 8px 0;
      border-radius: 3px;
      width: 193px;
    }
  }

  .rightColumn {
    background-color: #dadada;
    width: 100%;
    height: 450px;
    margin-left: 20px;

    .filterWrapper {
      display: flex;
      justify-content: space-between;
      height: 80px;
      background: #f4f4f4;

      .selectWrapper {
        width: 190px;
        margin: 0;
        padding: 0;
        border: 0;

        .selectTitle {
          color: #6a6a6a;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
        }
      }

      .dndToggleWrapper {
        height: 50px;
        margin-top: 20px;
        color: gray;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
      }
    }

    section {
      height: 370px;
    }
  }
}
