.popupWrapper {
  min-width: 350px;
  padding: 25px 35px;
}

.textWrapper {
  margin: 0 0 35px;

  font-size: 16px;
  line-height: 22px;
  color: #6a6a6a;
}

.btnsWrapper {
  display: flex;
  justify-content: flex-end;
}

.cancelBtnWrapper {
  display: inline-block;

  margin-right: 15px;

  vertical-align: middle;
}
