.cardContainer {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  background: #4a4a4a;
  padding: 2px 14px;
  height: 27px;
  margin-bottom: 4px;
  color: #2d2d2d;
  font-weight: 600;
  width: 110px;
}

.dragContainer {
  background: #4a4a4a;
  color: white;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline;
}
