.scoringForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 11px;
}

.buttonsWrapper {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  width: 260px;
  justify-content: space-between;
  padding: 0 8px;
}

.selectsContainer {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 270px);
  margin-top: 35px;

  .selectWrapper {
    width: 190px;
    margin: 0;
    padding: 0;

    border: 0;
  }
}

.selectTitle {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
