.main {
  width: 100%;
}

.heading {
  margin: 24px 0;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  display: flex;
  align-items: center;
  color: #1c315f;
  font-size: 24px;
  font-weight: 600;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.buttons-group {
  display: flex;
  flex-direction: row;
}

.dashboard-cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.tournaments-list-container {
  height: 600px;
  overflow-y: auto;
  & > * {
    margin: 16px 0;
  }
  &::-webkit-scrollbar {
    color: #f4f4f4;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
  }
}

.tournaments-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  .card-header {
    flex-grow: 1;
    width: 437px;
  }
  .buttons-group {
    flex-grow: 1;
    width: 388px;
    justify-content: space-between;
  }
}
.schedule-image {
  align-self: flex-end;
  height: 303px;
  width: 344px;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
