:local(.section) {
  min-width: 450px;
}

:local(.block) {
  min-width: 450px;
}

:local(.headerWrapper) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 25px 0 0;
}
