.container {
  height: 100%;
  position: relative;
}

.tablesWrapper {
  display: flex;
  flex-wrap: wrap;

  .runningTally, .resGameList {
    margin: 8px;
    width: calc( (100% - 48px) / 4 );
  }

  .matrixOfPossibleGames {
    width: calc( (100% - 48px) / 2 );
    margin: 8px;
  }
}

.button {
  position: absolute;
  right: 8px;
  bottom: -50px;
}

.checkboxWrapp {
  padding: 0 8px;
}