.section {
  position: relative;

  height: 330px;

  ul {
    margin: 0;
    padding: 0;
  }
}

.tableWrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #b1b1b1;
}

.table {
  display: flex;
  flex-wrap: nowrap;

  padding: 45px 0 0 100px;

  background-color: #f4f4f4;

  ul {
    margin-right: 15px;
  }

  li {
    width: 180px;
    margin-bottom: 20px;

    background-color: red;

    height: 30px;
  }
}

.teamItem {
  display: flex;
  align-items: center;

  input {
    display: inline-block;

    width: 20px;
    margin-left: 5px;

    vertical-align: top;
  }
}
