.teamItem {
  .teamItemTitle {
    position: relative;

    padding-left: 30px;

    color: #00a3ea;
  }

  .teamItemTitle::before {
    position: absolute;
    top: 7px;
    left: 7px;

    content: '';
    width: 17px;
    height: 17px;

    border-radius: 50%;

    background-color: #cdcfd2;
  }
}
