.container {
  .paperWrapper {
    margin-bottom: 20px;
    .paperContainer {
      display: flex;
      justify-content: flex-end;

      > button {
        margin-left: 20px;
      }
    }
  }
}

.diagnosticsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: 'flex';
  justify-content: 'space-between';

  > button {
    margin-right: 10px;
  }
}
