:local(.TooltipMessage) {
  position: relative;

  width: 325px;
  padding: 18px;

  font-size: 16px;
  line-height: 22px;
  color: #6A6A6A;

  background-color: #F4F4F4;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);

  &::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    
    content: '';

    border-style: solid;
    border-width: 0px 9px 10px;
    border-color: transparent transparent #F4F4F4;
  }
}