.container {
  width: 510px;
  padding: 32px;
}
.sectionTitle {
  color: #1c315f;
  font-size: 24px;
  font-weight: 600;
}
.buttonsGroup {
  margin: 20px 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > :first-child {
    margin-right: 15px;
  }
}

.sectionItem {
  color: #6a6a6a;
  padding: 5px;
  margin-top: 10px;
}

.sectionRow {
  display: flex;
  justify-content: space-between;
}
.sectionTitle {
  color: #1c315f;
  display: flex;
  justify-content: space-between;
  width: 747px;
}

.addSelectItem {
  color: #6a6a6a;
  padding: 5px;
  margin-top: 10px;
  display: flex;
}

.selectItems {
  display: block;
  background: white;
  margin: 8px;

  div {
    padding: 10px;
    border-bottom: 1px solid #dddedf;

    &:last-of-type {
      border: none;
    }
  }
}
