:local(.cornerBtn) {
  transform: rotate(45deg);

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: transparent;

  border: 0;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: #6A6A6A;

  cursor: pointer;
}

:local(.cornerBtnActive) {
  transform: rotate(45deg) scale(-1)
}
